@import "multi-select.css";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #76839d;
  background-color: #f5f7fc;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 992px) {
  .fields-row .col-lg {
    max-width: 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
  }
}
.fields-row .form-control,
.fields-row .datepicker-label,
.fields-row .col-label {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 40px;
}

.navbar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  padding: 0.4rem 1rem;
}
.navbar .navbar-link {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: white !important;
}
.navbar .navbar-link.logo {
  font-weight: 500;
  font-size: 19px;
}
.navbar .navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar .sign-in-btn .app-icon {
  position: relative;
  margin-left: 20px;
  top: -2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: center/100% no-repeat url("/img/sign-out.png");
  min-height: 24px;
  min-width: 24px;
  vertical-align: middle;
}
.navbar .navbar-toggler-btn {
  margin-left: 20px;
  background: none;
}
.navbar .navbar-toggler-btn .app-icon {
  width: 24px;
  height: 24px;
  background: center/100% no-repeat url("/img/ic_header_menu.png");
  vertical-align: middle;
  min-height: 24px;
  min-width: 24px;
  display: inline-block;
  font-size: 0.87rem;
}

.bg-primary {
  background-color: #16bfbf !important;
}

.page-title {
  white-space: nowrap;
  text-align: left;
  padding-top: 5px;
  font-size: 23px;
  font-weight: 400;
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.task-filters .app-btn {
  min-width: auto;
  width: 100%;
}
.task-filters .btn-primary-dark {
  background-color: #45a5a7;
  border-color: #44a1a3;
}
.task-filters li {
  font-size: 12px;
}
@media (max-width: 576px) {
  .task-filters .datepicker-label {
    display: none !important;
  }
  .task-filters .col-label {
    float: left;
  }
}

.btn-primary, .btn-primary-dark {
  color: #fff;
  background-color: #16bfbf;
  border-color: #16BFBF;
}

.app-btn {
  padding: 0 0.75rem;
}

.app-btn {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  padding: 0 1rem;
  height: 40px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.btn-primary:hover, .btn-primary-dark:hover {
  color: #fff;
  background-color: #129d9d;
  border-color: #119191;
}

.btn-secondary {
  /*color: #212529;*/
  background-color: #b5bdcc;
  border-color: #B5BDCC;
}

.fields-row .col,
.fields-row [class*=col-],
.fields-row .form-control {
  position: relative;
  font-size: 12px;
}

.fields-row .col, .fields-row [class*=col-], .fields-row .form-control {
  position: relative;
  font-size: 12px;
}

.fields-row .form-control, .fields-row .datepicker-label, .fields-row .col-label {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 40px;
}

.fields-row .col-label {
  -webkit-box-pack: start;
  justify-content: flex-start;
  white-space: nowrap;
  margin-bottom: 5px;
  text-align: right;
  height: auto;
}

/*@media all and (min-width:576px)*/
.fields-row .col-label {
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 40px;
  top: -1px;
  margin: 0;
}

/* label */
.fields-row .form-control, .fields-row .datepicker-label, .fields-row .col-label {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 40px;
}

.fields-row .datepicker-label {
  text-transform: uppercase;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 20px;
  left: 23px;
  top: -1px;
}

/*@media all and (min-width:576px)*/
.fields-row .datepicker-label {
  text-transform: none;
  left: -9px;
}

/* // label */

/*# sourceMappingURL=main.css.map */
