@media (min-width: 992px) {
  .fields-row .col-lg {
    max-width: 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
  }
}


.fields-row .form-control,
.fields-row .datepicker-label,
.fields-row .col-label {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 40px;
}
